{% load template_filters %}
{% load humanize %}
{% load static %}
{% include 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Home Page</h3>
        {% if user.is_authenticated %}
        <div class="content-container">
          <div class="top-bar">
            {% if available_periods %}
            <ul class="no-list">
              {% for period in available_periods %}
              <li><a href="?dashboard_filter_period={{period.name}}"><button id="{{period.name}}" class="filter-selector {%if period.name == request.GET.dashboard_filter_period%}selected{%endif%}">{{period.name|humanize_underscore_string}}</button></a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <div class="date_form">
            <form action="{% url 'index' %}" method="post">
              {%csrf_token%}
              {{dateFilterForm}}
              <div><input type="submit" value="Filter"></div>
            </form>
          </div>
          <div>
            <p>Total Income: $ {{total_income|floatformat:2|intcomma}}</p>
            <p>Total Expense: $ {{total_expenses|floatformat:2|intcomma}}</p>
            <p class="{% if net > 0 %}green{%else%}red{%endif%}" >Net: $ {{net|floatformat:2|intcomma}}</p>
          </div>
          <div">
            <table>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Account</th>
                <th>Amount</th>
              </tr>
              {% for tr in transactions %}
              <tr>
                <td>{{tr.transaction_date}}</td>
                <td><a href="{% url 'account_manager:transaction-detail' tr.pk %}">{{tr.description}}</a></td>
                <td>{{tr.account.name}}</td>
                <td>{{tr.readable_amount}}</td>
              </tr>
              {% endfor %}
            </table>
            
          </div>
        </div>
        You are logged in as {{user}} 
        
        <a href="{% url 'auth_manager:auth-logout' %}"><button>Logout</button></a>

        {% else %} <a href="{% url 'auth_manager:auth-login' %}"><button>Login</button></a>{% endif %}

        
    </div>
</body>
{% endblock %}