.transaction-metadata-item.date {
    padding: var(--sp_1);
    margin: 0px auto var(--sp_4) auto;
    background-color: var(--accent-color);
    color: white;
  }

.transaction-metadata-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--sp_1);
    justify-content: space-evenly;
}

.itemization-toolbar {
  display: flex;
  justify-content: end;
  padding: var(--sp_0);
}

span.editable {
  transition: ease-in-out font-size .1s, padding .25s, background-color .25s, background-image .1s, width .1s, height .1s;
}

.editable-fields {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

span.editable:hover {
  font-size: 105%;
  padding: .1em;
  background: lightgray;
  cursor: pointer;
}
span.editable:hover::after {
  background-image: url('/static/img/edit-pencil.svg');
  background-size: 25px 25px;
  display: inline-block;
  width: 25px;
  height: 25px;
  content: "";
  margin-left: 10px;
  top: .15em;
  position: relative;
}

.hidden {
  display: none !important;
}