{% include 'base.html' %}

{% if request.user.is_authenticated %}
{% load static %}
{% load template_filters %}

{%  block header %}
<link rel="stylesheet" href="{% static 'css/transaction-detail.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="content-container">
        <div class="top-bar">
            <a href="{% url 'index' %}"><p>< Transactions</p></a>
        </div>

        <div class="transaction-metadata-container">
            <div class="transaction-metadata-item date">
                <strong>Transaction Date</strong>: {{transaction_metadata.transaction_date}}
            </div>
            <div class="transaction-metadata-item date">
                <strong>Posted Date</strong>: {{transaction_metadata.posted_date}}
            </div>
            <div class="break"></div>
            <div>
                <strong>Amount:&nbsp;</strong>$&nbsp;<span name="amount" class="editable">{{readable_amount}}</span>
            </div>
            <div class="break"></div>
            <form action="{% url 'account_manager:transaction-edit' transaction.pk %}" method="post" novalidate>
                {%csrf_token%}
                <div class="editable-fields">
                    {{editable_transaction_fields.amount}} <button class="hidden" id="transaction_amount">✓</button>
                    {{editable_transaction_fields.description}} <button class="hidden" id="transaction_description">✓</button>
                    {{editable_transaction_fields.category}} <button class="hidden" id="transaction_category">✓</button>
                    {{editable_transaction_fields.tags}} <button class="hidden" id="transaction_tags">✓</button>
                    <input id="submit_transaction_info" class="hidden" type="submit">
                </div>
                {% for key,value in transaction_metadata.items %}
                {% if 'date' not in key %}
                <div class="transaction-metadata-item {%if 'date' in key%}date{%endif%}">
                    <strong>{{key|humanize_underscore_string}}</strong>: {%if not 'account' in key%}<span name="{{key|lower}}" class="editable">{{value}}{%else%}{{value.name}}{%endif%}</span>
                </div>
                <div class="break"></div>            
                {% endif %}
                {% endfor %}
                <br />
            </form>
        </div>
        <hr>
        <h3>Itemization</h3>
        <div>
            
            <div class="itemization-toolbar">
                <button id="create_new_item_trigger">Add item to transaction</button>
            </div> 
            <table id="itemization_table">
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Category</th>
                    {% if item.tags.all.count > 0 %}<th>Tags</th>{% endif %}
                    <th>Delete Item</th>
                </tr>
                {% for item in transaction.items.all %}
                <tr>
                    <td>{{item.description}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.category}}</td>
                    {% if item.tags.all.count > 0 %}
                    <td>
                        <ul>
                            {% for tag in item.tags.all %}<li>{{tag}}</li>{% endfor %}
                        </ul>
                    </td>
                    {% endif %}
                    <td><a item_id="{{item.pk}}" href="{{transaction.pk}}/item/{{item.pk}}/delete"><img style="width: 25px;" src="{% static 'img/delete-button.svg' %}"></a></td>
                </tr>
                {% endfor %}
                
            </table>        
            
            <div id="create_new_item_container" class="{% if new_item_start_hidden %}hidden{% endif %}">
            <h4>Create new</h4> 
                <form action="{% url 'account_manager:transaction-item-add' transaction.pk %}", method="post">
                    {%csrf_token%}
                    {{new_item_form}}
                    <div class="top-bar">
                        <div><input type="submit" value="Itemize"></div>
                        <div><button id="create_new_item_cancel" class="red-bg">Cancel</button></div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var span = document.querySelectorAll("span.editable");
    var buttons = document.querySelectorAll(".editable-fields button");
    var create_new_item_trigger = document.querySelector("#create_new_item_trigger");
    var create_new_item_cancel = document.querySelector("#create_new_item_cancel");
    var item_delete_buttons = document.querySelectorAll("a[item_id]")

    function clickToEdit(event) {
        this.classList.toggle("hidden");
        
        var button = document.querySelector("#transaction_"+this.getAttribute("name"))
        var hiddenInput = document.querySelector("#id_"+this.getAttribute("name")); 
        hiddenInput.classList.toggle("hidden");
        button.classList.toggle("hidden");

        this.insertAdjacentElement("afterend", hiddenInput)
        hiddenInput.insertAdjacentElement("afterend",button)

    }

    span.forEach(e => {
        e.addEventListener("click", clickToEdit);
    });

    buttons.forEach(e => {
        e.addEventListener("click", function () {            
            var field_id = this.id.replace("transaction_","");
            var input = document.querySelector("#id_"+field_id);
            var span = document.querySelector("span[name="+field_id+"]");

            if (input.value != Math.abs(span.textContent)){
                // If we changed the value:
                console.log("We changed the input.");
                document.querySelector("#submit_transaction_info").click();
            }
            else {
                // Otherwise
                event.preventDefault();
                this.classList.add("hidden");
                span.classList.remove("hidden");
                input.classList.add("hidden");
            }    
        });
    });

    // Button to create new transaction item
    create_new_item_trigger.addEventListener("click", function () {
        var container = document.querySelector("#create_new_item_container");
        container.classList.remove("hidden");
        container.scrollIntoView();
    });

    // Cancel button when creating transaction item 
    create_new_item_cancel.addEventListener("click", function() {
        var container = document.querySelector("#create_new_item_container");
        container.classList.add("hidden");
        this.preventDefault();
    });

    // Don't allow deleting if only one transaction item present
    item_delete_buttons.forEach((e) => {
        e.addEventListener("click", function(event) {
            if (item_delete_buttons.length <= 1) {
                event.preventDefault();
            }
        })
    })


</script>
{% endblock %}

{% else %}

<h2>You are not logged in.</h2>
<p>
    Please login to access this page: <a href="{% url 'auth_manager:auth-login' %}?redirect={% url 'account_manager:transaction-detail' id%}"><button>Login</button></a>
</p>

{% endif %}
