{% extends 'base.html' %}

{% if request.user.is_authenticated %}
{% load static %}
{% load template_filters %}

{%  block header %}
<link rel="stylesheet" href="{% static 'css/transaction-detail.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="content-container">
        <div class="top-bar">
            <a href="{% url 'index' %}"><p>< Transactions</p></a>
        </div>

        <div class="transaction-metadata-container">
            <div class="transaction-metadata-item date">
                <strong>Transaction Date</strong>: {{transaction_metadata.transaction_date}}
            </div>
            <div class="transaction-metadata-item date">
                <strong>Posted Date</strong>: {{transaction_metadata.posted_date}}
            </div>
            <div class="break"></div>

            {% include 'account_manager/transaction_editable_fields.html' %}

        </div>
        <hr>
        <h3>Itemization</h3>
        <div>
            
            <div class="itemization-toolbar">
                <button id="create_new_item_trigger">Add item to transaction</button>
            </div> 
            <table id="itemization_table">
                <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Category</th>
                    {% if item.tags.all.count > 0 %}<th>Tags</th>{% endif %}
                    <th>Delete Item</th>
                </tr>
                {% for item in transaction.items.all %}
                <tr>
                    <td>{{item.description}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.category}}</td>
                    {% if item.tags.all.count > 0 %}
                    <td>
                        <ul>
                            {% for tag in item.tags.all %}<li>{{tag}}</li>{% endfor %}
                        </ul>
                    </td>
                    {% endif %}
                    <td><a item_id="{{item.pk}}" href="{{transaction.pk}}/item/{{item.pk}}/delete"><img style="width: 25px;" src="{% static 'img/delete-button.svg' %}"></a></td>
                </tr>
                {% endfor %}
                
            </table>        
            
            <div id="create_new_item_container" class="{% if new_item_start_hidden %}hidden{% endif %}">
            <h4>Create new</h4> 
                <form action="{% url 'account_manager:transaction-item-add' transaction.pk %}", method="post">
                    {%csrf_token%}
                    {{new_item_form}}
                    <div class="top-bar">
                        <div><input type="submit" value="Itemize"></div>
                        <div><button id="create_new_item_cancel" class="red-bg">Cancel</button></div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var create_new_item_trigger = document.querySelector("#create_new_item_trigger");
    var create_new_item_cancel = document.querySelector("#create_new_item_cancel");
    var item_delete_buttons = document.querySelectorAll("a[item_id]")

    // Set up editable transaction form for first-time page load
    var editable_transaction_form = document.querySelector("#transaction-editable-container")
    var span = document.querySelectorAll("span.editable");
    var button = document.querySelector("#transaction-edit-button");
    addEventListenersToEditableTransactionForm()

    // Gets new DOM elements and sets up event listeners on new elements.
    function editableTransactionOnFormReload(event) {
        console.log("HTMX Reload event fired on editable-transaction-form.")
        editable_transaction_form = document.querySelector("#transaction-editable-container")
        span = document.querySelectorAll("span.editable");
        button = document.querySelector("#transaction-edit-button");
        addEventListenersToEditableTransactionForm()
    }

    function hideActiveInput() {
        activeInput = document.querySelector(".editable-fields input[name]:not(.hidden)")
        
        if (!activeInput) return

        var name = activeInput.getAttribute("name")
        
        activeInput.classList.add("hidden")
        button.classList.add("hidden")
        editable_transaction_form.querySelector(".editable-fields span[name="+name+"]").classList.remove("hidden")
    }

    // Shows the input and button and hides the clicked span element. 
    function editableTransactionClickToEditField(event) {
        hideActiveInput()
        this.classList.add("hidden");
        
        var hiddenInput = document.querySelector("#id_"+this.getAttribute("name")); 
        hiddenInput.classList.remove("hidden");
        button.classList.remove("hidden");
    }

    // Set up event listeners on the editable transaction form. 
    function addEventListenersToEditableTransactionForm() {
        // Listen for HTMX reload. 
        editable_transaction_form.addEventListener("htmx:afterOnLoad", editableTransactionOnFormReload)
            
        // Listen for a click on the editable fields. When these are clicked the input and button will be shown
        span.forEach(e => {
            e.addEventListener("click", editableTransactionClickToEditField)
        });

        // Listen for a click on the confirm button
        button.addEventListener("click", function (event) {  
            activeInput = document.querySelector(".editable-fields input[name]:not(.hidden)")
            
            var name = activeInput.getAttribute('name')
            var input = document.querySelector("#id_"+name);
            var span = document.querySelector("span[name="+name+"]");

            if (!name.includes("amount")) {
                var normalized_content = span.textContent
            } else {
                var normalized_content = Math.abs(span.textContent)
            }   

            // Check if we've changed the input. If we have, let the form submit
            if (input.value != normalized_content) {
                console.log("We changed the input.");
            } else {
                // Otherwise, prevent the form from submitting and hide the input and button.
                event.preventDefault();
                hideActiveInput()
            }
        });
    }
    
    // Button to create new transaction item
    create_new_item_trigger.addEventListener("click", function () {
        var container = document.querySelector("#create_new_item_container");
        container.classList.remove("hidden");
        container.scrollIntoView();
    });

    // Cancel button when creating transaction item 
    create_new_item_cancel.addEventListener("click", function() {
        var container = document.querySelector("#create_new_item_container");
        container.classList.add("hidden");
        this.preventDefault();
    });

    // Don't allow deleting if only one transaction item present
    item_delete_buttons.forEach((e) => {
        e.addEventListener("click", function(event) {
            if (item_delete_buttons.length <= 1) {
                event.preventDefault();
            }
        })
    })


</script>
{% endblock %}

{% else %}

<h2>You are not logged in.</h2>
<p>
    Please login to access this page: <a href="{% url 'auth_manager:auth-login' %}?redirect={% url 'account_manager:transaction-detail' id%}"><button>Login</button></a>
</p>

{% endif %}
