div.dashboard-container {
    background-color: var(--element-background);
    box-shadow: var(--color-gray-100) 1px 1px;
    padding: .5em 1em;
}

div.span-6 {
    width: 49%;
    display: inline-block;
}

.no-list > li {
    list-style: none;
}

li > button {
    padding: .25em;
    size: 50%;
}

li > a > button.selected {
    background-color: var(--link-color-alt);
    color: lightskyblue;
}